<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<false/>
					<key>File References</key>
					<array/>
				</dict>
				<key>Minimum Application Version</key>
				<string>7.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/andrewestridge/Documents/GitHub/AndyEst.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-05-01T21:54:09Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0x7UAXIknf7H
								LQ+qKVEurg==
								</data>
								<key>Size</key>
								<integer>3029</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/andrewestridge/Documents/GitHub/AndyEst.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-05-01T21:54:09Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/images/cover1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cG00Ts2K4Y6Q
								KNrf+lEXcg==
								</data>
								<key>Size</key>
								<integer>117321</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								FGAXNz1Yx1D6
								uDQSVM9sFg==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								XFpfd8h7nfKR
								AuxnYwFTUQ==
								</data>
								<key>Size</key>
								<integer>175</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:kiki - file:///Users/andrewestridge/Documents/GitHub/AndyEst.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-05-01T21:54:09Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								uImjDRO9pTsK
								Lo6xf2adWA==
								</data>
								<key>Size</key>
								<integer>38962</integer>
							</dict>
							<key>images/cover1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cG00Ts2K4Y6Q
								KNrf+lEXcg==
								</data>
								<key>Size</key>
								<integer>117321</integer>
							</dict>
							<key>images/cover2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8JoPw94mRBTY
								0vzp15bD3A==
								</data>
								<key>Size</key>
								<integer>121950</integer>
							</dict>
							<key>images/cover3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uBSTxsFtleQ9
								vuGGZfRILg==
								</data>
								<key>Size</key>
								<integer>189246</integer>
							</dict>
							<key>images/cover4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XQEBm+SCMcGm
								+Ba6NdyZgg==
								</data>
								<key>Size</key>
								<integer>152682</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6UR3sfOVg8L3
								EmSZBtot1w==
								</data>
								<key>Size</key>
								<integer>8911</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:kiki</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/kiki</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGUlNYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QEQcIExQVHyIp
				LTE1OT1FSExQVSRudWxs0wkKCwwPEldOUy5rZXlzWk5T
				Lm9iamVjdHNWJGNsYXNzog0OgAKAA6IQEYAEgAyAEFhk
				YXRhYmFzZVRub2Rl1QsWFxgZGhscHR5eSWRlbnRpZmll
				ciBNYXBYUGFnZSBNYXBYTm9kZSBNYXBZUmVzb3VyY2Vz
				gAuAB4AKgAmABdIKCyAhoIAG0iMkJSZaJGNsYXNzbmFt
				ZVgkY2xhc3Nlc1xOU011dGFibGVTZXSjJScoVU5TU2V0
				WE5TT2JqZWN00wkKCyorLKCggAjSIyQuL18QE05TTXV0
				YWJsZURpY3Rpb25hcnmjLjAoXE5TRGljdGlvbmFyedMJ
				CgsyMyygoIAI0wkKCzY3LKCggAjSIyQ6O18QElJXUmVz
				b3VyY2VEYXRhYmFzZaI8KF8QElJXUmVzb3VyY2VEYXRh
				YmFzZdQLPj9AQUJDQ1hDaGlsZHJlblZQYXJlbnRfEBJS
				ZXByZXNlbnRlZCBPYmplY3SAD4ANgACAANIKC0ZHoIAO
				0iMkSUpeTlNNdXRhYmxlQXJyYXmjSUsoV05TQXJyYXnS
				IyRNTl8QEFJXU291cmNlTGlzdE5vZGWiTyhfEBBSV1Nv
				dXJjZUxpc3ROb2Rl0iMkMFGiMChfEA9OU0tleWVkQXJj
				aGl2ZXLRVFVUcm9vdIABAAgAEQAaACMALQAyADcASwBR
				AFgAYABrAHIAdQB3AHkAfAB+AIAAggCLAJAAmwCqALMA
				vADGAMgAygDMAM4A0ADVANYA2ADdAOgA8QD+AQIBCAER
				ARgBGQEaARwBIQE3ATsBSAFPAVABUQFTAVoBWwFcAV4B
				YwF4AXsBkAGZAaIBqQG+AcABwgHEAcYBywHMAc4B0wHi
				AeYB7gHzAgYCCQIcAiECJAI2AjkCPgAAAAAAAAIBAAAA
				AAAAAFYAAAAAAAAAAAAAAAAAAAJA
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BannerUsed</key>
					<false/>
					<key>BaseURL</key>
					<string>https://AndyEst.github.io</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2019 Andrew Estridge</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.html</string>
						<string>index.htm</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>andyestridge@gmail.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PinnedTabIconUsed</key>
					<false/>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va+wCAAAAAAQQMAAA
							AK5ppaXuaN7WufviutQn
							t6Xt5aCqYHJ7jmXUYHR7
							KNxk6AEAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAAOAAAAAQEAAGFu
							ZHJld2VzdHJpZGdlAAAJ
							AAAAAQEAAERvY3VtZW50
							cwAAAAYAAAABAQAAR2l0
							SHViAAARAAAAAQEAAEFu
							ZHlFc3QuZ2l0aHViLmlv
							AAAAFAAAAAEGAAAQAAAA
							IAAAADgAAABMAAAAXAAA
							AAgAAAAEAwAAIl4LAAAA
							AAAIAAAABAMAADdeCwAA
							AAAACAAAAAQDAAChcAsA
							AAAAAAgAAAAEAwAAgKyk
							BAAAAAAIAAAABAMAAOWU
							pgQAAAAAFAAAAAEGAACU
							AAAApAAAALQAAADEAAAA
							1AAAAAgAAAAABAAAQcE9
							DTMAAAAYAAAAAQIAAAIA
							AAAAAAAADwAAAAAAAAAA
							AAAAAAAAAAgAAAAEAwAA
							AwAAAAAAAAAEAAAAAwMA
							APUBAAAIAAAAAQkAAGZp
							bGU6Ly8vBAAAAAEBAABN
							aW5pCAAAAAQDAAAAcIE9
							dAAAAAgAAAAABAAAQbgb
							QgUAAAAkAAAAAQEAAERD
							MEQ4QkY3LTI4RDYtM0ZF
							Ri04MEU3LTBBQjc2OEVC
							REUyNBgAAAABAgAAgQAA
							AAEAAADvEwAAAQAAAAAA
							AAAAAAAAAQAAAAEBAAAv
							AAAAAAAAAAEFAADMAAAA
							/v///wEAAAAAAAAAEAAA
							AAQQAAB4AAAAAAAAAAUQ
							AADkAAAAAAAAABAQAAAQ
							AQAAAAAAAEAQAAAAAQAA
							AAAAAAIgAADUAQAAAAAA
							AAUgAABMAQAAAAAAABAg
							AABcAQAAAAAAABEgAACI
							AQAAAAAAABIgAABoAQAA
							AAAAABMgAAB4AQAAAAAA
							ACAgAAC0AQAAAAAAADAg
							AADgAQAAAAAAAAHAAAAw
							AQAAAAAAABHAAAAgAAAA
							AAAAABLAAABAAQAAAAAA
							ABDQAAAEAAAAAAAAAA==
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>github.pages</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string>https://andyest.github.io/</string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>SloganText</key>
					<string>Tools to up your game</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Kiki</string>
					<key>TitleText</key>
					<string>My Website</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>32291155-2420-4C52-B1F8-32F48A3A3FCA_rwbackup</string>
					<key>UserAgentResizingPreset</key>
					<integer>0</integer>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>cacheBustingString</key>
					<string>?rwcache=578440449</string>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
